<!DOCTYPE html>
  <html>
     <head>
      <meta charset="UTF-8">
      <title>Assessment</title>

    
    </head>
    <body>
<form>
 <h1 style="border: black;border-width:2px;border-style: solid;">
    <label>Question 1</label><br>
    <br>
     Enter Player One : <input type="text" id="playerOne" required /><br><br>
     Enter Player Two : <input type="text" id="playerTwo" required/><br><br>
    <input type="submit" value="Submit" onclick="Q1()"/><br>

    <p></p><br>
 </h1>
</form>
<h1 style="border: black;border-width:2px;border-style: solid;">
    <label>Question 2</label>
<br>
    <input type="file" name="CSV File" id="uploadFile">
    <input type="submit" value="Submit" onclick="ReadCsv()"/><br><br>
    
</h1>  
  

<script src="/js/Script.js"></script>
    </body>

  </html>